// EY Alerts: _ey-alerts.scss

.alert {
	padding: .5em 35px .5em 14px;
	margin-bottom: 1em;
	color: #fff;
	background-color: $light3;
	@include borderRadius;

	h4 {
		color: #fff;
		margin: 0;
	}

	a {
		color: white;
		border-bottom: 1px dotted white;

		&.btn {
			border-bottom: none;
			color: $dark3;
		}
		&.btn-info,
		&.btn-primary,
		&.btn-danger,
		&.btn-warning,
		&.btn-success,
		&.btn-inverse,
		&.btn-link {
			color: white;
		}
	}

	.close,
	button.ss-delete {
		position: relative;
		top: -2px;
		right: -21px;
		line-height: 20px;
		color: white;
		opacity: .5;
	}

	button.ss-delete {
		top: 0.225em;
	}

	.close:hover,
	button.ss-delete:hover {
		opacity: .8
	}
}

.alert-success {
	background-color: $green;
	border-color: #d6e9c6;
}


.alert-danger,
.alert-error {
	background-color: $lightRed;
}

.alert-info {
	background-color: $blue;
}

.alert-light {
	background-color: #fff;
	color: $dark2;

	.close,
	button.ss-delete {
		position: relative;
		top: -2px;
		right: -21px;
		line-height: 20px;
		color: #000;
		text-shadow: none;
		opacity: .5;
	}
}

.alert-block {
	padding-top: .5em;
	padding-bottom: .5em;
}

.alert-block > p,
.alert-block > ul {
	margin-bottom: 0;
}

.alert-block p + p {
	margin-top: 5px;
}

.alert-shadow {
	@include boxShadowRegular;

	.close,
	button.ss-delete {
		text-shadow: none;
	}
}

.highlight {
  background: lighten(yellow, 42.5%);
  color: $dark3;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
