/*
BUTTONS
*/

// Default style
// --------------------------------------------------

.btn {
    @include Avenir;
    font-weight: 900;
    font-size: $baseFontSize;
    color: $dark2;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 0px 1px #fff;
    letter-spacing: 0.05em;
    line-height: 1;
    background-color: lighten($light1, 7.5%);
    display: inline-block;
    *display: inline;
    padding: $baseFontSize * 1.1 $baseFontSize * $scalex2 $baseFontSize; //Avenir adds a little bit of space below the text
    margin-bottom: 0;
    *margin-left: 0.3em;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid $light1;
    *zoom: 1;
    @include borderRadius;
    @include btnHoverFX;
    @include btnShade(white);

    &:hover {
        color: $dark1;
        @include gradientColor(lighten($light1, 3.5%));
        background-color: lighten($light1, 3.5%);
        @include boxShadowSmall(0,2px,0,0,0.25);
        text-shadow: 1px 0px 1px rgba(#fff, 0);
    }

    &.disabled,
    &[disabled] {
        background-image: none;
        background: lighten($light1, 3%) !important;
        color: lighten($light3, 5%);
        text-shadow: 1px 0px 1px rgba(#fff, 0);
    }

    &.active {
      background-color: #cccccc \9;
      color: $light3;
      @include btnActive($light1);
    }

    .icon,
    .font-icon,
    .ss-icon,
    [class^="ss-"],
    [class*="ss-"] {
        font-size: 90%;
        margin-left: 0 !important;
        margin-right: 5px !important;
        position: relative;
        top: 2px;
    }
}

.btn-icon {
  margin-left: 0;
  margin-right: 0;

  .icon,
  .font-icon,
  .ss-icon,
  [class^="ss-"],
  [class*="ss-"] {
    margin-left: -$baseFontSize / $scalex5 !important;
    margin-right: -$baseFontSize / $scalex5 !important;
  }
}

.btn-cancel {
    color: $lightRed;
    background-image: none;
    background-color: transparent;
    border: none;
    box-shadow: none;

    &:hover,
    &:active,
    &:focus {
      background-image: none;
      background-color: transparent !important;
      color: $darkRed !important;
      box-shadow: none;
    }
}

.btn:first-child {
  *margin-left: 0;
}

.btn:focus {
  outline: 0;
}

.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
}

.btn.disabled,
.btn[disabled],
.btn:disabled {
    cursor: default;
    background-image: none;
    -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.btn + .btn {
    margin-left: $baseFontSize / $scalex3;
}


// Additional button sizes
// --------------------------------------------------

.btn-large {
    font-size: $baseFontSize * $scalex1 !important;
    padding: $baseFontSize $baseFontSize * $scalex2;

    .icon,
    .font-icon,
    .ss-icon,
    [class^="ss-"],
    [class*="ss-"] {
        font-size: 100%;
        margin-left: -5px !important;
        top: 3px;
    }
}

.btn-small {
    padding: $baseFontSize / $scalex1 $baseFontSize * $scalex1;
}

.btn-mini {
    font-size: 13px !important;
    @include helvetica;
    padding: $baseFontSize / $scalex1 $baseFontSize * $scalex1;
}

// Block buttons
// --------------------------------------------------

.btn-block {
    display: block;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

    + .btn-block {
        // margin-top: 5px;
    }
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
    width: 100%;
}

.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
    color: rgba(255, 255, 255, 0.75);
}

// Blue button / .btn-primary
// --------------------------------------------------

.btn-primary {
    color: #ffffff;
    text-shadow: 0px -1px 1px darken($blue, 10%);
    border-color: rgba($blue, 0.1);
    @include btnShade($blue);

    &.disabled,
    &[disabled] {
        text-shadow: 0px -1px 1px rgba($blue, 0);
        background-image: none;
        background: lighten($blue, 13%) !important;
        color: lighten($light1, 2.5%);
    }

    &:hover {
        @include btnHover($blue);
    }

    &.active {
        background-color: #003399 \9;
        color: $light2;
        @include btnActive(darken($blue, 3%));
    }
}

// Light red button / .btn-warning
// --------------------------------------------------

.btn-warning {
    color: #ffffff;
    text-shadow: 0px -1px 1px darken($lightRed, 20%);
    border-color: rgba($lightRed, 0.1);
    @include btnShade($lightRed);

    &.disabled,
    &[disabled] {
        text-shadow: 0px -1px 1px rgba($lightRed, 0);
        background-image: none;
        background: lighten($lightRed, 25%) !important;
        color: lighten($light2, 5%);
    }

    &:hover {
        @include btnHover($lightRed);
    }

    &.active {
      background-color: #c67605 \9;
      color: $light2;
      @include btnActive(darken($lightRed, 3%));
    }
}

// Dark red button / .btn-danger
// --------------------------------------------------

.btn-danger {
    color: #ffffff;
    text-shadow: 0px -1px 1px darken($darkRed, 20%);
    border-color: rgba($darkRed, 0.1);
    @include btnShade($darkRed);

    &.disabled,
    &[disabled] {
        text-shadow: 0px -1px 1px rgba($darkRed, 0);
        background-image: none;
        background: lighten($darkRed, 30%) !important;
        color: lighten($light2, 5%);
    }

    &:hover {
        @include btnHover($darkRed);
    }

    &.active {
        background-color: #942a25 \9;
        color: $light2;
        @include btnActive(darken($darkRed, 3%));
    }
}

// Green button / .btn-success
// --------------------------------------------------

.btn-success {
    color: #ffffff;
    text-shadow: 0px -1px 1px darken($green, 15%);
    border-color: rgba($green, 0.1);
    @include btnShade($green);

    &.disabled,
    &[disabled] {
        text-shadow: 0px -1px 1px rgba($green, 0);
        background-image: none;
        background: lighten($green, 8%) !important;
        color: lighten($light1, 2.5%);
    }

    &:hover {
        @include btnHover($green);
    }

    &.active {
      background-color: #408140 \9;
      @include btnActive(darken($green, 10%));
    }
}

// Mid grey button / .btn-info
// --------------------------------------------------

.btn-info {
    color: #ffffff;
    text-shadow: 0px -1px 1px darken($light3, 20%);
    border-color: rgba($light3, 0.1);
    @include btnShade($light3);

    &.disabled,
    &[disabled] {
        text-shadow: 0px -1px 1px rgba($light3, 0);
        background-image: none;
        background: lighten($light3, 13%) !important;
        color: $light2;
    }

    &:hover {
        @include btnHover($light3);
    }

    &.active {
        background-color: #24748c \9;
        color: $light2;
        @include btnActive($dark1);
    }
}

// Dark grey button / .btn-inverse
// --------------------------------------------------

.btn-inverse {
    @include btnHoverFX;
    color: $light1;
    text-shadow: 0px -1px 1px darken($dark2, 20%);
    border-color: rgba($dark2, 0.1);
    @include btnShade($dark2);

    &.disabled,
    &[disabled] {
        text-shadow: 0px -1px 1px rgba($dark2, 0);
        background-image: none;
        background: $dark1 !important;
        color: lighten($light3, 20%);
    }

    &:hover {
        @include btnHover($dark2);
    }

    &.active {
      background-color: #080808 \9;
      color: lighten($light3, 20%);
      @include btnActive(darken($dark2, 10%));
    }
}

// Cancel button / .btn-cancel
// --------------------------------------------------

.btn-cancel {
    color: $lightRed;
    text-shadow: none;
    background-color: transparent;
    background-image: none;
    border: none;
    @include boxShadowSmall(0,0,0,0,0);

    &:hover,
    &.disabled,
    &[disabled] {
        text-shadow: none;
        background: none !important;
        background-image: none !important;
        background-color: transparent !important;
        color: $darkRed;
    }

    &.active {
      background-color: none;
      background-image: none;
    }
}

// Link-esque button / .btn-link
// --------------------------------------------------

.btn-link {
    color: $blue;
    background-color: transparent;
    background-image: none;
    @include boxShadowSmall(0,0,0,0,0);
    text-decoration: none;
    text-shadow: none;
    border: none;
    border-bottom: 1px solid $blue;
    cursor: pointer;
    padding-left: 0;
    padding-right: 0;
    -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
    @include btnHoverFX;

    &:hover,
    &.disabled,
    &[disabled] {
        color: darken($blue,20%);
        text-decoration: none;
        text-shadow: none;
        background: none !important;
        background-image: none !important;
        background-color: transparent !important;
        @include boxShadowRegular(0,0,0,0,0);
    }

    &.disabled,
    &[disabled] {
        border: none;
    }

    &.active {
        color: $dark1;
        border: none;
    }

}

.btn-group {
    position: relative;
    display: inline-block;
    *display: inline;
    *margin-left: .3em;
    font-size: 0;
    white-space: nowrap;
    vertical-align: middle;
    *zoom: 1;

  &:first-child {
    *margin-left: 0;
  }

  & + .btn-group {
    margin-left: 5px;
  }

  .btn {
    position: relative;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
  }

  .btn + .btn {
    margin-left: -1px;
  }

  .btn,
  .dropdown-menu,
  .popover {
    font-size: 15px;
  }

  .btn-mini {
    font-size: 11px;
  }

  .btn-small {
    font-size: 13px;
  }

  .btn-large {
    font-size: 18px;
  }

  .btn:first-child {
    margin-left: 0;
    -webkit-border-bottom-left-radius: 4px;
            border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
            border-top-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-topleft: 4px;
  }

  .btn:last-child,
  .dropdown-toggle {
    -webkit-border-top-right-radius: 4px;
            border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
            border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
  }

  .btn.large:first-child {
    margin-left: 0;
    -webkit-border-bottom-left-radius: 6px;
            border-bottom-left-radius: 6px;
    -webkit-border-top-left-radius: 6px;
            border-top-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-topleft: 6px;
  }

  .btn.large:last-child,
  .large.dropdown-toggle {
    -webkit-border-top-right-radius: 6px;
            border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
            border-bottom-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomright: 6px;
  }

  .btn:hover,
  .btn:focus,
  .btn:active,
  .btn.active {
    z-index: 2;
  }

  .dropdown-toggle:active,
  &.open .dropdown-toggle {
    outline: 0;
  }

  .btn + .dropdown-toggle {
    *padding-top: 5px;
    padding-right: 0.825em;
    *padding-bottom: 5px;
    padding-left: 0em;
    @include boxShadowSmall(0,2px,0,0,0.1);
    margin-left: 0 !important;
  }

  .btn-mini + .dropdown-toggle {
    *padding-top: 2px;
   // padding-right: 5px;
    *padding-bottom: 2px;
    //padding-left: 5px;
  }

  .btn-small + .dropdown-toggle {
    *padding-top: 5px;
    *padding-bottom: 4px;
  }

  .btn-large + .dropdown-toggle {
    *padding-top: 7px;
    //padding-right: 12px;
    *padding-bottom: 7px;
    //padding-left: 12px;
  }

  &.open .dropdown-toggle {
    background-image: none;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
       -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  }

  &.open .btn.dropdown-toggle {
    background-color: #e6e6e6;
  }

  &.open .btn-primary.dropdown-toggle {
    background-color: darken($blue, 8%);
  }

  &.open .btn-warning.dropdown-toggle {
    background-color: darken($lightRed, 8%);
  }

  &.open .btn-danger.dropdown-toggle {
    background-color: darken($darkRed, 10%);
  }

  &.open .btn-success.dropdown-toggle {
    background-color: darken($green, 10%);
  }

  &.open .btn-info.dropdown-toggle {
    background-color: darken($dark1, 10%);
  }

  &.open .btn-inverse.dropdown-toggle {
    background-color: darken($dark2, 10%);
  }
}

.btn-toolbar {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 0;

  .btn-group + .btn,
  .btn + .btn-group {
    margin-left: 5px;
  }
}


.btn .caret {
  margin: 0.375em -0.125em 0 0.425em;
}

.btn,
.dropdown {
  &.dropdown-toggle,
  .dropdown-toggle {

    .ss-dropdown,
    .ss-directup {
      margin: 0 -0.75em 0 1.5em !important;
      top: -2px;
      font-size: 0.5em;
      display: inline-block;
    }
  }
}

.btn-group .btn {
  &.dropdown-toggle {
    .ss-dropdown,
    .ss-directup {
      margin: 0 -0.75em 0 1em !important;
      top: -2px;
      font-size: 0.5em;
    }
  }
}

.btn-group {
  &.dropdown-toggle {
    .ss-dropdown,
    .ss-directup {
      margin: 0 -0.75em 0 1.5em !important;
      top: -2px;
      font-size: 0.5em;
    }
  }
}


.btn-large .caret {
  border-top-width: 5px;
  border-right-width: 5px;
  border-left-width: 5px;
}

.dropup .btn-large .caret {
  border-bottom-width: 5px;
}

.btn-primary .caret,
.btn-warning .caret,
.btn-danger .caret,
.btn-info .caret,
.btn-success .caret,
.btn-inverse .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.btn-group-vertical {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
}

.btn-group-vertical > .btn {
  display: block;
  float: none;
  max-width: 100%;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.btn-group-vertical > .btn + .btn {
  margin-top: -1px;
  margin-left: 0;
}

.btn-group-vertical > .btn:first-child {
  -webkit-border-radius: 4px 4px 0 0;
     -moz-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0;
}

.btn-group-vertical > .btn:last-child {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.btn-group-vertical > .btn-large:first-child {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}

.btn-group-vertical > .btn-large:last-child {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.btn-group .dropdown-menu li {
  font-size: 1em;
}

/* disabled button styles continuned */
.btn[disabled],
.btn-primary[disabled],
.btn-warning[disabled],
.btn-success[disabled],
.btn-error[disabled],
.btn-inverse[disabled],
.btn.disabled,
.btn-primary.disabled,
.btn-warning.disabled,
.btn-success.disabled,
.btn-error.disabled,
.btn-inverse.disabled,
.btn:disabled,
.btn-primary:disabled,
.btn-warning:disabled,
.btn-success:disabled,
.btn-error:disabled,
.btn-inverse:disabled,
.btn-link:disabled
 {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    background-image: none;
    top: 0px;
}

.activity-spinner {
    width: 18px;
    height: 18px;
    background: url(../img/activity-spinner.gif) no-repeat -2px -2px;
    display: block;
}
