@font-face{
font-family:"Avenir W02_n2";
src:url("../webfonts/99db2616-e717-4838-a896-6dc86e37b49e.eot?#iefix") format("eot")
}
@font-face{
font-family:"Avenir W02";
src:url("../webfonts/99db2616-e717-4838-a896-6dc86e37b49e.eot?#iefix");
src:url("../webfonts/99db2616-e717-4838-a896-6dc86e37b49e.eot?#iefix") format("eot"),url("../webfonts/874c8a3d-82cd-4b46-839b-521b49950be0.woff") format("woff"),url("../webfonts/651041f0-000d-42ca-b667-939a4e0f5085.ttf") format("truetype"),url("../webfonts/bb5e727f-dfd2-4e7c-8630-4dd73720a377.svg#bb5e727f-dfd2-4e7c-8630-4dd73720a377") format("svg");
font-weight: 200;
font-style: normal;
}
@font-face{
font-family:"Avenir W02_o2";
src:url("../webfonts/67c09af9-1b9a-4aaa-9ce0-acf8eadec195.eot?#iefix") format("eot")
}
@font-face{
font-family:"Avenir W02";
src:url("../webfonts/67c09af9-1b9a-4aaa-9ce0-acf8eadec195.eot?#iefix");
src:url("../webfonts/67c09af9-1b9a-4aaa-9ce0-acf8eadec195.eot?#iefix") format("eot"),url("../webfonts/c5763b2c-20ed-4377-8989-e063e2ef8dfc.woff") format("woff"),url("../webfonts/9fc2b82e-97a4-4a9c-8f22-2bb58c2a0146.ttf") format("truetype"),url("../webfonts/4915ed32-67c2-4622-b16c-08fb6b2bdea3.svg#4915ed32-67c2-4622-b16c-08fb6b2bdea3") format("svg");
font-weight: 200;
font-style: oblique;
}
@font-face{
font-family:"Avenir W02_n3";
src:url("../webfonts/cc232236-c38e-4181-b791-8be0f37e6f0e.eot?#iefix") format("eot")
}
@font-face{
font-family:"Avenir W02";
src:url("../webfonts/cc232236-c38e-4181-b791-8be0f37e6f0e.eot?#iefix");
src:url("../webfonts/cc232236-c38e-4181-b791-8be0f37e6f0e.eot?#iefix") format("eot"),url("../webfonts/493b124a-f032-4d7d-9d9b-b3ebdb18c13a.woff") format("woff"),url("../webfonts/b2470f08-706e-4417-bcb4-64e4b3cb07b0.ttf") format("truetype"),url("../webfonts/71715770-8b1b-41d7-bc36-4e630e95fd3a.svg#71715770-8b1b-41d7-bc36-4e630e95fd3a") format("svg");
font-weight: 300;
font-style: normal;
}
@font-face{
font-family:"Avenir W02_o3";
src:url("../webfonts/f581bb90-8e0d-4678-a670-b596aee5d6de.eot?#iefix") format("eot")
}
@font-face{
font-family:"Avenir W02";
src:url("../webfonts/f581bb90-8e0d-4678-a670-b596aee5d6de.eot?#iefix");
src:url("../webfonts/f581bb90-8e0d-4678-a670-b596aee5d6de.eot?#iefix") format("eot"),url("../webfonts/7ee96c2f-092c-4d5a-9d3a-727712087ef0.woff") format("woff"),url("../webfonts/2e7be909-2ccd-4b69-b05b-d8530279bfed.ttf") format("truetype"),url("../webfonts/f63ebefb-9093-4e7c-ac37-3f80c9bc08fc.svg#f63ebefb-9093-4e7c-ac37-3f80c9bc08fc") format("svg");
font-weight: 300;
font-style: oblique;
}
@font-face{
font-family:"Avenir W02_n4";
src:url("../webfonts/469ea7ce-bb40-478a-aa21-da079357c969.eot?#iefix") format("eot")
}
@font-face{
font-family:"Avenir W02";
src:url("../webfonts/469ea7ce-bb40-478a-aa21-da079357c969.eot?#iefix");
src:url("../webfonts/469ea7ce-bb40-478a-aa21-da079357c969.eot?#iefix") format("eot"),url("../webfonts/5104d540-ac5c-442d-8581-1e9f4ecd37f0.woff") format("woff"),url("../webfonts/6662a841-5b52-4af6-a868-6b43e3d7b263.ttf") format("truetype"),url("../webfonts/bfcb105e-6348-434a-ba7b-31cd4bb80da6.svg#bfcb105e-6348-434a-ba7b-31cd4bb80da6") format("svg");
font-weight: 400;
font-style: normal;
}
@font-face{
font-family:"Avenir W02_o4";
src:url("../webfonts/45f33033-1957-4ec4-8fed-f9cc8552b0ae.eot?#iefix") format("eot")
}
@font-face{
font-family:"Avenir W02";
src:url("../webfonts/45f33033-1957-4ec4-8fed-f9cc8552b0ae.eot?#iefix");
src:url("../webfonts/45f33033-1957-4ec4-8fed-f9cc8552b0ae.eot?#iefix") format("eot"),url("../webfonts/4ae57b20-bad8-4fce-aeed-e0187e5a14bf.woff") format("woff"),url("../webfonts/6f808037-2d93-4f7d-b6bd-47f8efebc184.ttf") format("truetype"),url("../webfonts/ad5d3830-dabe-4aab-abd6-5298cf252a1b.svg#ad5d3830-dabe-4aab-abd6-5298cf252a1b") format("svg");
font-weight: 400;
font-style: oblique;
}
@font-face{
font-family:"Avenir W02_n5";
src:url("../webfonts/c7a58743-f241-4281-bfc0-f1df551cb37d.eot?#iefix") format("eot")
}
@font-face{
font-family:"Avenir W02";
src:url("../webfonts/c7a58743-f241-4281-bfc0-f1df551cb37d.eot?#iefix");
src:url("../webfonts/c7a58743-f241-4281-bfc0-f1df551cb37d.eot?#iefix") format("eot"),url("../webfonts/b8db69f9-df9e-480f-9c1c-d76a1bb29a62.woff") format("woff"),url("../webfonts/63753503-2f58-4a8b-91af-058e8f73a1b0.ttf") format("truetype"),url("../webfonts/3cece34e-2cfb-4b8f-8a9c-04ec56d1e672.svg#3cece34e-2cfb-4b8f-8a9c-04ec56d1e672") format("svg");
font-weight: 500;
font-style: normal;
}
@font-face{
font-family:"Avenir W02_o5";
src:url("../webfonts/55e94d5b-4fe5-4b21-8566-0356c182f6e7.eot?#iefix") format("eot")
}
@font-face{
font-family:"Avenir W02";
src:url("../webfonts/55e94d5b-4fe5-4b21-8566-0356c182f6e7.eot?#iefix");
src:url("../webfonts/55e94d5b-4fe5-4b21-8566-0356c182f6e7.eot?#iefix") format("eot"),url("../webfonts/831678a3-2e17-44c9-b214-737d6b43cc99.woff") format("woff"),url("../webfonts/793b158d-9463-4da7-8008-c3d4279c117d.ttf") format("truetype"),url("../webfonts/a36f82e1-f20f-4a71-852e-da7d8a63af47.svg#a36f82e1-f20f-4a71-852e-da7d8a63af47") format("svg");
font-weight: 500;
font-style: oblique;
}
@font-face{
font-family:"Avenir W02_n8";
src:url("../webfonts/e9427e66-afa8-4ceb-bb31-7a970fb469ea.eot?#iefix") format("eot")
}
@font-face{
font-family:"Avenir W02";
src:url("../webfonts/e9427e66-afa8-4ceb-bb31-7a970fb469ea.eot?#iefix");
src:url("../webfonts/e9427e66-afa8-4ceb-bb31-7a970fb469ea.eot?#iefix") format("eot"),url("../webfonts/748da442-9dd9-4a4d-8da0-b114e16e5d7f.woff") format("woff"),url("../webfonts/6beeeb66-0b4e-4162-8788-8bf688b9829a.ttf") format("truetype"),url("../webfonts/8afe744b-89a2-4ae2-a88e-05c6882580f3.svg#8afe744b-89a2-4ae2-a88e-05c6882580f3") format("svg");
font-weight: 800;
font-style: normal;
}
@font-face{
font-family:"Avenir W02_o8";
src:url("../webfonts/b65661b0-4944-4569-a481-7956ed0037c4.eot?#iefix") format("eot")
}
@font-face{
font-family:"Avenir W02";
src:url("../webfonts/b65661b0-4944-4569-a481-7956ed0037c4.eot?#iefix");
src:url("../webfonts/b65661b0-4944-4569-a481-7956ed0037c4.eot?#iefix") format("eot"),url("../webfonts/d8ea60b1-63d8-42d5-b780-fb10cd01d410.woff") format("woff"),url("../webfonts/61d90118-e984-41be-916f-8710743223b7.ttf") format("truetype"),url("../webfonts/d632b415-7d2d-4eef-88fa-9f3294009aca.svg#d632b415-7d2d-4eef-88fa-9f3294009aca") format("svg");
font-weight: 800;
font-style: oblique;
}
@font-face{
font-family:"Avenir W02_n9";
src:url("../webfonts/1f5c348e-e2a8-45d4-a78f-7f61d7bfd83d.eot?#iefix") format("eot")
}
@font-face{
font-family:"Avenir W02";
src:url("../webfonts/1f5c348e-e2a8-45d4-a78f-7f61d7bfd83d.eot?#iefix");
src:url("../webfonts/1f5c348e-e2a8-45d4-a78f-7f61d7bfd83d.eot?#iefix") format("eot"),url("../webfonts/0b86525a-9c26-4c1d-9abe-c05fd31ecf2e.woff") format("woff"),url("../webfonts/ea64e82f-5215-4e26-a15f-a6739e1c1020.ttf") format("truetype"),url("../webfonts/1cda1791-25c1-48d3-9056-3b04b763b592.svg#1cda1791-25c1-48d3-9056-3b04b763b592") format("svg");
font-weight: 900;
font-style: normal;
}
@font-face{
font-family:"Avenir W02_o9";
src:url("../webfonts/9c5da5a3-e4df-49f9-bacc-c94e28d9b9f0.eot?#iefix") format("eot")
}
@font-face{
font-family:"Avenir W02";
src:url("../webfonts/9c5da5a3-e4df-49f9-bacc-c94e28d9b9f0.eot?#iefix");
src:url("../webfonts/9c5da5a3-e4df-49f9-bacc-c94e28d9b9f0.eot?#iefix") format("eot"),url("../webfonts/c913780e-d6cb-4d11-bfcf-b23e2670bcb3.woff") format("woff"),url("../webfonts/92288f03-d267-4e7a-b3ea-fb090e790460.ttf") format("truetype"),url("../webfonts/0e1565cf-87bf-4a38-b4c7-c5732b4699eb.svg#0e1565cf-87bf-4a38-b4c7-c5732b4699eb") format("svg");
font-weight: 900;
font-style: oblique;
}

/*
This CSS resource incorporates links to font software which is the valuable copyrighted
property of Monotype Imaging and/or its suppliers. You may not attempt to copy, install,
redistribute, convert, modify or reverse engineer this font software. Please contact Monotype
Imaging with any questions regarding Web Fonts:  http://webfonts.fonts.com
*/