/* global site header... */
#global-header {
  background: white;
  border-bottom: 5px solid $darkRed;
  margin-bottom: 6em;
  overflow: hidden;
}
#global-header a {
  color: #83020A;
  text-decoration: none;
}
#global-header .inner {
  width: 90%;
  margin: 0 auto;
}
#global-header h1 {
  float: left;
  padding: .5em 0;
  font: normal 1.4em helvetica, arial, sans-serif;
  text-transform: none;
}
#global-header .logo {
  display: inline-block;
  height: 29px;
  width: 97px;
  background: transparent image-url('ey-logo.png') 0 0 no-repeat;
  text-indent: -999em;
  vertical-align: middle;
}
/* mpapis - Not sure about this, uncomment to get the list prefixed with " Contributors: "
#global-header .contributors:before {
  color: #83020A;
  content: " Contributors: ";
}
*/
#global-header .contributors img {
  height: 29px;
  width: 29px;
  vertical-align: middle;
}
#global-header ul {
  float: right;
  margin: .6em 0 0 0;
  padding-bottom: 0;
}
#global-header li {
  float: left;
  margin-right: 10px;
  list-style-type: none;
}
#global-header li:last-child {
  margin-right: 0;
}
#global-header .share-email {
  display: inline-block;
  height: 20px;
  width: 32px;
  text-indent: -999em;
  background: transparent image-url('email-small.png') 0 0 no-repeat;
  overflow: hidden;
}

#ey-promo {
  clear: both;
  font-size: 12px;
  margin-left: 20px;
}

#ey-promo a {
  text-decoration: underline;
  text-decoration: none;
  border-bottom: 1px solid #83020A;
}
/* ...global site header */
