!!!
%html
  %head
    %title
      Rails Installer
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag

  %body
    %h1 Welcome to Rails Installer!!!

    #footer
      &copy; 2011 Wayne E. Seguin <wayneeseguin@gmail.com>

